parameters:
	level: 6
	projectDir: %rootDir%/../../..
	autoload_files:
		- %projectDir%/vendor/autoload.php
	excludes_analyse:
		- %projectDir%/tests/
		- %projectDir%/vendor/
	ignoreErrors:
		- '#.*Redis::.*#'
