parameters:
	level: 9
	fileExtensions:
		- php
		- phpt
	paths:
		- src
		- tests
	excludePaths:
		- vendor
	ignoreErrors:
		- '#.*Redis::.*#'

includes:
	- vendor/spaze/phpstan-disallowed-calls/extension.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
